@model BudgetSettingsViewModel

<div class="container-fluid mt-4">
    <div class="card">
        <div class="card-header">
            <h4>Budget Settings</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Main Category</th>
                            <th>Sub Category</th>
                            <th>Amount</th>
                            <th>Percentage</th>
                            @for (int i = 1; i <= 12; i++)
                            {
                                <th colspan="2">@System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(i)</th>
                            }
                        </tr>
                        <tr>
                            <th colspan="4"></th>
                            @for (int i = 1; i <= 12; i++)
                            {
                                <th>Planned</th>
                                <th>Actual</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in Model.Categories)
                        {
                            <partial name="_CategoryRow" model="category" />
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>